@import 'base/_variables.scss';
@import 'blocks/_promo.scss';
@import 'blocks/_header.scss';
@import 'blocks/_buttons.scss';
@import 'blocks/advantages';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    min-width: 950px;
    margin: 0 auto;
}

