.advantages {
    min-height: 470px;
    padding: 73px 0 65px 0;
    background-color: #F6F6F6;    
    &__icons { 
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-top: 65px;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
    }
    &__header {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
    }
    &__subheader {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        margin: 30px 0 20px 0;
    }
    &__icon {
        width: 270px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 30px 0 30px;
        img {
            width: 70px;
            align-self: center;
        }
    }
    a {
        color: #F00;
        font-family: Museo Moderno;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        text-decoration-line: underline;
    }
    &__icon_animation {
        animation-name: heartbeat;
        animation-duration: 4s;
        animation-timing-function: ease;
        animation-iteration-count: infinite; 
        
        &:hover {
            animation-play-state: paused;
        }
    }
    
}